#wel{
    background-color: yellow;
    font-family: 'Times New Roman', Times, serif;
    color: red;
}

.cl{
    background-color: pink;
    font-family: 'Times New Roman', Times, serif;
    color: brown;
}