#wel{
    background-color: aquamarine;
    color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
}
.cl
{
    background-color:bisque;
    color:blue;
    font-family: 'Courier New', Courier, monospace;
} 
h3,h5
{
    color: red;
}
